label{
    color: black;
}
p{
    color: black;
   
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #088B46;
    border-radius: 50%; /* makes it round */
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .delivery_type {
    width: 85%;
  }
  .display_flex_checkbox input[type="checkbox"] {
 
    margin-right: 32px;
  }
  input[type="checkbox"]:checked::before {
    content: "";
    // position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background: #088B46;
    border-radius: 50%;
    display: block;

  }
  .addres_bg{
    background: #ededed;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
  }
  .payment_details_div {
    color: black;
    border-top: 2px solid #E4E4E4;
    border-bottom: 2px solid #E4E4E4;
    padding: 0px 12px 12px 12px;
  }
  .text_end{
    text-align: end;

  }
  input[type="date"] {
    background: white;
    color: #088B46;
    border-radius: 25px;
    padding: 5px;
    /* border-color: green; */
    border: 2px solid #088B46;
    margin-right: 7px;
    text-align: center;
}
input[type="time"] {
  background: white;
  color: #088B46;
  border-radius: 25px;
  padding: 5px;
  /* border-color: green; */
  border: 2px solid #088B46;
  margin-right: 7px;
}
select#ampm {
  background: white;
  color: #088B46;
  border-radius: 25px;
  padding: 5px;
  /* border-color: green; */
  border: 2px solid #088B46;
  margin-right: 7px;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  // filter: invert(30%) sepia(90%) saturate(300%) hue-rotate(180deg); /* Change icon color */

  // filter: brightness(0) invert(1); 
  display: none;
  // cursor: pointer;
}
input[type="textarea"] {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  margin-top: 12px;
  padding: 6px 10px 72px 10px;
  color: #000;

}
.display_flex_checkbox{
  display: flex;
}
.text_align_center{
  text-align: center;
}
.arriving_div{
  border: 2px solid #E4E4E4;
  padding: 12px;
  border-radius: 5px;
  margin-top: 15px;
}

.header_heading{
  color: #088B46;
  font-weight: 600;
  margin: 0;

}
.left_arrow_img_outer_div img{
   width: 28%;
}
.header_heading_outer{
  padding: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
 
}
.color_black{
  color: black;
}
.add_addres_btn{
  background: green;
  color: white;
  padding: 7px;
  text-align: center;
  border-radius: 21px;
  width: 75%;
  font-size: 13px;

}
.add_address_outer_div{
  display: flex;
  justify-content: end;
}
.margin_top_botom{
  margin: 10px 0px 10px 0px;
  align-items: center;
}
.header_border{
  border-bottom: 1px solid gray;
  padding-bottom: 11px;
}
.add-to-cart-footer {
  position: fixed;
  bottom: 58px;
  width: 100%;
  background: url(/assets/cart_bg.svg);
  background-size: cover;
  padding: 41px 0px 56px 0px;
}
.footer_proceed_btn{
  text-align: center;
}
.footer_proceed_btn button{
  padding: 12px 25px 12px 25px;
  color: green;
  background: white;
  border-radius: 25px;
  font-size: 15px;
  width: auto;
  text-align: center;
}
// .radio_outer_div {
//   margin-bottom: 6rem;
// }
.font_weight{
  font-weight: 600;
}
.padding_0{
  padding: 0;
}
.payment_detail_btn{
  background: #008a4a;
  color: white;
  padding: 8px;
  width: 40%;
  border-radius: 4px;
}
.paddingtop_20{
  padding-top: 20px;
}
.arriving_outer_div{
  padding: 12px;
  margin-bottom: 12rem;
}
.primary_font_size{
  font-size: 13px;
}
.arriving_div p{
  margin-bottom: 3px;
}

ion-datetime-button::part(native) {
  background-color: #ffffff;
  border: 2px solid #00894d;
  border-radius: 26px;
  color: #000;
}

ion-modal::part(content) {
  border-radius: 0px;
  // border: 2px solid #34c759;
  background: #ffffff;
}

ion-datetime::part(native) {
  border-radius: 0px;
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
}
ion-datetime-button{
  margin-right: 3rem;
}
