<ion-content [fullscreen]="false">
  <ion-toolbar>
    <div class="welcome_main h_100vh bg_white">
      <app-common-header [customClass]="'my-header-class'"></app-common-header>
      <div class="text_center msg_main">
        <img src="../../assets/welcome/message_icon.svg" class="welcome_ingredients" alt="welcome_ingredients" title="welcome_ingredients">
      </div>
      <div class="welcome_second">
       
        <div class="content_welcome text_center">
          <div class="verify_cont text_white">
            <p class="verification_heading">Verification <b>Code</b></p>
            <p class="verify_number">Please type the verification code
              send to <b>{{prefix}}{{phoneNumber}}</b></p>
          </div>
       
            <ion-input-otp> </ion-input-otp>
            <div class="d_flex justify_content_between otp_time_resend_main">
              <span *ngIf="!otpExpired">Time: {{ formattedTime  }}s</span>
              <span *ngIf="otpExpired">OTP Expired</span>
              <span class="font-weight-bold" (click)="resendOtp()">Resend OTP</span>
            </div>
          
          <button
          class="welcome_submit text_gogreen mt_4"
          expand="block"
          (click)="afterotpcontinue()" >
          Continue
        </button>
        </div>
       
 
      </div>
    </div>
  </ion-toolbar>
</ion-content>
 