
 
  ion-header{
    border-bottom: 1px solid #cdcdcd;
    box-shadow: none;
    padding: 6px 10px;
    background: white;
  }
  ion-toolbar {
    --background: #ffffff;  /* White background */
    --color: #000000;  /* Black text/icons */
  }

.logo {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.header_profile {
    border: 1px solid #008a4a;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    display: flex;
    background: #e3f2ec;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #008a4a;
    font-weight: 600;
}
  ion-icon {
    font-size: 20px;
    color: green;
    position: relative;
    left: -3px;
  }
 

  ion-toolbar {
    --background: #ffffff; /* White background */
    --color: #000000;
    --border-width: 0 !important; /* Black text/icons */
  }
  
  .icon-circle {
    width: 33px;
    height: 33px;
    border: 1px solid #797878;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272727;
    background: transparent;
    margin: 0px 8px 0px 8px;
  }

  .icon-circle ion-icon {
    font-size: 20px;
    color: gray;
  }
  .inner_header_text_div {
    display: flex;
  }
.header_location_outer_div{
  margin-left: 10px;
}
.header_location_outer_div p{
    margin: 0;
}
.header_location_outer_div>p{
    font-size: 14px;
}
.inner_header_text_div>p{
    font-weight: 600;
    font-size: 14px;
}



.pickup_drop {
  background: #088b46;
  display: flex;
  align-items: center;      /* Vertically center items */
  justify-content: center;  /* Horizontally center contents */
  gap: 5px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;         /* Add some vertical padding */
  height: 35px;              /* Fixed height for consistent alignment */
  cursor: pointer;
  font-weight: 500;
}

.pickup_logo {
  height: 20px;
  width: auto;
  display: block;
}
