<ion-content [fullscreen]="true">
  <app-common-header></app-common-header>

  <div class="page_outer_div">
    <div class="row border_bottom">
      <div class="page_outer_div">
        <div class="display_flex align_flex_start">
          <img class="round_check_img" src="assets/round_check.svg" alt="">
          <p class="Sustainable_heading text_font">
            Sustainable & Super Fast – Go Green Delivers in No Time!<br>
            <span class="color_black margin_0 text_font">
              Quick, reliable, and eco-conscious—experience the future of delivery today
            </span>
          </p>
        </div>
      </div>
      <div class="proceed_to_buy_header_btn"  *ngIf="cartItems.length > 0">
        <button (click)="navigateToCheckout()">Proceed To Buy</button>
      </div>
    </div>
  </div>

  <!-- ✅ Show cart details only if items exist -->
  <div *ngIf="cartItems.length > 0; else showemptycart">
    <div class="outer_div_padding">
      <label>
        <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" />
        Select All
      </label>

      <div class="view_cart_item_div" *ngFor="let item of cartItems">
        <input type="checkbox" [(ngModel)]="selectedItemMap[item.id]" (change)="onItemCheckboxChange(item)" />

        <div class="view_cart_outer_div">
          <div class="display_flex_only">
            <div class="checkout_item_outer_div">
              <img [src]="item.image" alt="" class="mb-2">
              <button class="add_to_cart_btn_bg2">
                <span class="remove_item_btn" (click)="removeFromCart(item)">-</span>
                {{ getQuantity(item.id) }}
                <span class="add_item_btn" (click)="addToCart(item)">+</span>
              </button>
            </div>

            <div>
              <p>{{ item.title }}</p>
              <p class="description_text">{{ item.subtitle }}</p>
              <p class="font_weight">{{currency}}{{ getItemTotal(item) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Payment Details -->
    <div class="payment_details_div primary_font_size">
      <div class="payment_detail_btn">
        <div class="text_align_center">Payment Details</div>
      </div>
      

      <div class="row paddingtop_20 mt-2">
        <div class="col-6 font-weight-bold">Total</div>
        <div class="col-6 text_end">{{currency}}{{getCartTotal()}}</div>
      </div>

      <!-- <div class="row mt-2">
        <div class="col-6 font-weight-bold">Total</div>
        <div class="col-6 text_end font-weight-bold">{{currency}}{{ getCartTotal() }}</div>
      </div> -->

        <div class="row mt-2">
        <div class="col-6">
          <div class="display_flex_only margin_bottom_2">
            <input type="radio" name="delivery" [(ngModel)]="selectedDeliveryOption" [value]="'Fast'"
              (change)="updateTotalWithDelivery()" class="custom-radio">
            <label class="font_weight">Fast Delivery</label>
          </div>
        </div>
        <div class="col-6 text_end">{{currency}}3</div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <div class="display_flex_only margin_bottom_2">
            <input type="radio" name="delivery" [(ngModel)]="selectedDeliveryOption" [value]="'Normal'"
              (change)="updateTotalWithDelivery()" class="custom-radio">
            <label class="font_weight">Normal Delivery</label>
          </div>
        </div>
        <div class="col-6 text_end">{{currency}}0</div>
      </div>

      <div class="row mt-2">
        <div class="col-6 font-weight-bold">Total Bill</div>
        <div class="col-6 text_end font-weight-bold">{{currency}}{{ getTotalPrice() }}</div>
      </div>
      <div class="row">
        <div class="col-12 text_end">
          <button (click)="navigateToCheckout()" class="bottom_proceed_to_buy">Proceed To Buy</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Empty cart state -->
  <ng-template #showemptycart>
    <div class="empty-cart-container animate__animated animate__heartBeat ion-padding">
      <img src="assets/empty-cart.png" alt="Empty Cart" class="empty-cart-image" />
      <p>Your cart is empty</p>
    </div>
    <div class="start_shopping" (click)="goBack()">
     <ion-icon name="cart"></ion-icon> 
     <p>Start Shopping</p>
    </div>
  </ng-template>

</ion-content>

<app-footer-tabs></app-footer-tabs>