

<ion-content [fullscreen]="true">
  
  <div class="page_outer_div">
   <div class="create_Id_heading_section">
    <h2>Create Your ID</h2>
    <p>Lets Start this Journey</p>
   </div>
   
   <div>
    <p>First Name</p>
    <input type="text" placeholder="Enter First Name">
   </div>

   <div>
    <p>Last Name</p>
    <input type="text" placeholder="Enter Last Name">
   </div>

   <div>
    <p>Email</p>
    <input type="text" placeholder="Enter Your Email">
   </div>
   <div class="btn_outer_div">
    <ion-button expand="block" shape="round">Save</ion-button>
    <!-- <ion-button>Save</ion-button> -->
   </div>
 


  </div>
 
 </ion-content>
 <app-footer-tabs></app-footer-tabs>
 