
<ion-content class="thank-you-content">
  <div class="checkmark-container">
    <div class="checkmark">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="circle" cx="26" cy="26" r="25"></circle>
        <path class="check" fill="none" d="M14 27l7 7 14-14"></path>
      </svg>
    </div>
    <h2 class="thank-you-message">Thank you for your purchase!</h2>
    <p class="sub-message">Your order is being processed and will be with you shortly.</p>
  </div>
</ion-content>
 
 <app-footer-tabs></app-footer-tabs>
 