@use 'src/theme/variables' as vars;
@use 'src/theme/mixins' as mix;
.bg_img{
       .home_slidr_outer_div{
              .slide-klm {
                text-align: center;
                background: #fbfbfb;
                padding: 10px;
                      img {
                          width: 100%;
                          object-fit: cover;
                          border-radius: 10px;
                          width: 100%;
                          // height: 200px;
                          height: 290px;
                        }
              }
       }
       .page_outer_div{
              .product_heading_outer_div {
                color: black;
                        .product_head{
                             p{
                                font-size: 20px;
                                text-transform: capitalize;
                             }
                        }
                        .price_div{
                              .price_text{
                                font-size: 20px;
                              }
                        }
              }
       }
}
.Addons_div_bg {
  background: #fbfbfb !important;
  margin-bottom: 8.5rem;
}

.p_heading {
  color: black;
  font-weight: 600;

}
.product_details_div {
  border-radius: 10px;
  background: white;
}

.attribute-table {
  font-size: 14px;

  .attribute-key {
    font-weight: 600;
    color: #444;
  }

  .attribute-value {
    text-align: right;
    color: #666;
  }

  ion-row {
    padding: 6px 0;
    border-bottom: 1px solid #e0e0e0;
  }
}

.addons {
  display: flex;
  justify-content: space-between;
}

.addon_heading {
  font-weight: 600;
}

.price_var {
  color: white;
}

.clear {
  color: #008000;
}

.addons_outer_div {
  border-radius: 12px;
  border: 1px solid #ededed;
  padding: 9px 10px;
  box-shadow: 0px 0px 10px #ededed;
  background: #ffffff;
  color: black;
  margin-bottom: 10px;
}

.left p {
  text-transform: capitalize;
  margin: 0;
}

/* Hide the default radio */
.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 8px;
}

/* Show green dot when checked */
.custom-radio:checked {
  border: 4px solid green;
  background-color: white;
}

/* Optional: smooth transition */
.custom-radio {
  transition: border 0.2s ease;
}

.price_div {
  @include mix.flex-align-space-between;
}

.page_outer_div>p {
  font-weight: 600;
}

.page_outer_div {
  background: #fff;
}


.add-to-cart-footer {
  position: fixed;
  bottom: 72px;
  width: 100%;
  background-size: cover;
  background: #008949;
  box-shadow: 0 9px 43px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.add_to_cart_outer_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.add_to_cart_outer_div p {
  margin: 0;
}

.add_to_cart_btn_bg2_bottom {
  padding: 4px 4px 4px 4px;
  background-color: white;
  color: #088B46;
  border-radius: 35px;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.add_to_cart_btn_bg_bottom img {
  margin-right: 12px;
}

.add_to_cart_btn_bg_bottom {
  padding: 12px 0px 13px 0px;
  background-color: white;
  color: #088B46;
  border-radius: 35px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.add_item_btn_bottom,
.remove_item_btn_bottom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  background-color: #088b46;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  text-align: center;
}

.custm_padding {
  padding: 0px !important;
}

.width_50 {
  width: 50%;
}

@media (min-width: 480px) and (max-width: 767px) {
  .add-to-cart-footer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    background: url(/assets/cart_bg.svg);
    background-size: cover;
    padding: 99px 0px 73px 0px;
  }

  .left_arrow_div img {
    width: 30% !important;
  }
}

/* For screen width between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1024px) {
  .add-to-cart-footer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    background: url(/assets/cart_bg.svg);
    background-size: cover;
    padding: 99px 0px 73px 0px;
  }

  .left_arrow_div img {
    width: 30% !important;
  }
}

.addon-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  width: 100%;
  cursor: pointer;
}

.addon-label .left {
  display: flex;
  align-items: center;
  gap: 8px;
  /* space between radio and name */
}

.addon-label .right {
  font-weight: bold;
}
.view_cart_div{
    position: fixed;
    bottom: 137px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateX(-50%);
    width: 43%;
    max-width: 400px;
    background: #00854a;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 9999;
               ion-icon{
                color: white;
                font-size: 20px;          
              }
}