<ion-content [fullscreen]="true">
  <!-- <div class="page_outer_div "> -->
  <app-common-header></app-common-header>


  <div class="bg_img">
    <div class="home_slidr_outer_div">
      <swiper-container class="mySwiper" slides-per-view="1" space-between="15" autoplay="false" pagination="true">
        <swiper-slide *ngFor="let item of productDetails?.gallery_images">
          <div class="slide-klm">
            <img [src]="item.image_path" alt="Gallery Image">
          </div>
        </swiper-slide>
        <ng-container *ngIf="productDetails?.gallery_images?.length === 0">
          <swiper-slide>
            <div class="slide-klm">
              <img src="assets/dummy.svg" alt="Dummy Image">
            </div>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>

    <div class="page_outer_div" *ngIf="productDetails">
      <div class="product_heading_outer_div">
        <div class="product_head display_flex">
          <p class="font-weight-bold">{{productDetails?.name}}</p>
        <ion-icon
          [name]="productDetails.is_favourite == 1 ? 'heart' : 'heart-outline'"
          [style.color]="productDetails.is_favourite == 1 ? '#088B46' : 'gray'"
          size="large"
          (click)="toggleFav(productDetails)">
        </ion-icon>

        </div>
        <div class="product_desc display_flex">
          <p class="text_font ">{{productDetails.description}}</p>

        </div>
        <div class="price_div">
          <p class="price_text font-weight-bold">${{productDetails?.price}}</p>
          <p class="text_font text-right" *ngIf="productDetails?.fast_delivery_available === 0"><img class="mr-1"
              src="assets/fast-delivery.svg">Available on fast delivery</p>
        </div>
      </div>
    </div>

    <div class="page_outer_div Addons_div_bg">
      <div class="p_heading" *ngIf="productDetails.attributes?.length > 0">
        <p>Product Details</p>
      </div>
      <!-- product attributes -->
      <div class="product_details_div" *ngIf="productDetails.attributes?.length > 0">
        <ion-grid [fixed]="true" class="attribute-table">
          <ion-row *ngFor="let attr of productDetails.attributes">
            <ion-col size="6" class="attribute-key">
              {{ attr.attribute_key }}
            </ion-col>
            <ion-col size="6" class="attribute-value">
              {{ attr.attribute_value }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Variants -->
      <div *ngIf="productDetails.variants.length > 0 && showVariantAndAddons">
        <div class="addons_outer_div">
          <div class="addons">
            <p class="addon_heading">Variants</p>
          </div>
          <div *ngFor="let variant of productDetails.variants" class="addon-item">
            <label class="addon-label">
              <div class="left">
                <input type="radio" name="variant" [value]="variant.id"   [(ngModel)]="selectedVariant"
                  class="custom-radio" (click)="toggleVariant(variant,productDetails.id)"/>
                <p>{{ variant.value }}</p>
              </div>
              <div class="right">
                {{ variant.price | currency }}
              </div>
            </label>
          </div>
        </div>
      </div>
      <!-- variants end -->

      <!-- Add ons  -->
      <div *ngIf="productDetails.addons.length > 0 && showVariantAndAddons">
        <div class="addons_outer_div">
          <div class="addons">
            <p class="addon_heading">Add on</p>
            <p class="clear" (click)="clear('Addon')">clear</p>
          </div>

          <div *ngFor="let addon of productDetails.addons" class="addon-item">
            <label class="addon-label">
              <div class="left">
                <input type="radio" name="addon" [value]="addon.id" [(ngModel)]="selectedAddon" class="custom-radio" (click)="toggleAddon(addon)" />
                <p>{{ addon.name }}</p>
              </div>
              <div class="right">
                {{ addon.price | currency }}
              </div>
            </label>
          </div>
        </div>
      </div>
      <!-- end Addons  -->
    </div>
  </div>


</ion-content>

<div class="add-to-cart-footer" *ngIf="productDetails">
  <div class="add_to_cart_outer_div">
    <div class="col-6">
      <p class="price_var"> {{currency}}{{ getTotalPrice(productDetails)}}</p>
       <!-- <div class="final-price">
        <p>{{ selectedTotalPrice | currency }}</p>
      </div> -->  

    </div>
    <div class="col-6">
      <div class="frozen_food_div">
        <div>
          <div *ngIf="!isAddedMap[productDetails.id]; else quantityControls" class="d-flex justify-content-end">
            <button class="add_to_cart_btn_bg_bottom" (click)="addToCart(productDetails)">
              Add 
            </button>
          </div>

          <ng-template #quantityControls>
            <div class="d-flex justify-content-end">
              <button class="add_to_cart_btn_bg2_bottom">
                <span class="remove_item_btn_bottom" (click)="removeFromCart(productDetails)">-</span>
                {{ getQuantity(productDetails.id) }}
                <span class="add_item_btn_bottom" (click)="addToCart(productDetails)">+</span>
              </button>
            </div>


          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>
 <div class="view_cart_div" *ngIf="showViewCart" (click)="viewCart()">
    <p class="margin_0">
    {{ cartQuantity }} {{ cartQuantity > 1 ? 'items' : 'item' }} added
  </p>
  <ion-icon name="arrow-forward"></ion-icon>
 </div>
<app-footer-tabs></app-footer-tabs>