// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #088B46;
    --box-shadow: none !important;
    --ion-background-color: #ffffff !important;
    --ion-item-background: #CEE8DA !important;
    --ion-color-light: #CEE8DA !important;
    --dark-green: #608773;
    --red: #AF3833;
    --secondary-color: #CA2C2C;
    --light-bg: #088B460D;
    --text-color: #000000;
    --ion-secondary-color: #ffffff;
    --ion-color-base: #088B46;
}

    $primary-color: var(--ion-color-primary);
    $secondary-color: var(--ion-secondary-color);
    $danger: var(--red);
    $textColor: var(--text-color);



