// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #088B46;
    --box-shadow: none !important;
    --ion-background-color: #ffffff !important;
    --ion-item-background: #CEE8DA !important;
    --ion-color-light: #CEE8DA !important;
    --dark-green: #608773;
    --red: #AF3833;
    --secondary-color: #CA2C2C;
    --light-bg: #088B460D;
    --text-color: #000000;
    --ion-secondary-color: #ffffff;
    --ion-color-base: #088B46;
}

    $primary-color: var(--ion-color-primary);
    $secondary-color: var(--ion-secondary-color);
    $danger: var(--red);
    $textColor: var(--text-color);
    
    // Additional theme variables
    $white: #ffffff;
    $border-color: #f0f0f0;
    $shadow-light: 0px 0px 10px #ededed;
    $shadow-medium: 0 2px 10px rgba(0, 0, 0, 0.1);
    $shadow-strong: 0px 4px 12px rgba(0, 0, 0, 0.2);
    $border-radius-sm: 10px;
    $border-radius-md: 12px;
    $border-radius-lg: 20px;



