<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="fetchNotifications($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="page_outer_div ">

    <div class="d_flex align_items_center justify-content-between">
      <div class="left_arrow_div"> <img src="assets/left-arrow-green.svg" (click)="goback()"></div>
      <p class="white_bg_header">Notifications</p>
      <div class="header_search_img ">
      </div>
    </div>

    <div class="notification-outer-div mt-5">

      <div class="d_flex align_items_center" style="gap:12px;">
        <ion-chip [color]="showUnreadOnly ? 'success' : 'medium'" (click)="toggleUnreadOnly(true)">Unread</ion-chip>
        <ion-chip [color]="!showUnreadOnly ? 'success' : 'medium'" (click)="toggleUnreadOnly(false)">All</ion-chip>
      </div>

      <ion-spinner *ngIf="loading" name="crescent" class="ion-margin-top"></ion-spinner>

      <ng-container *ngIf="!loading && groupedNotifications.length; else emptyState">
        <ng-container *ngFor="let group of groupedNotifications">
          <div class="section-heading ion-margin-top">
            <h6 class="section-title">{{ group.label }}</h6>
            <div class="section-line"></div>
          </div>

          <ion-item *ngFor="let n of group.items" class="notification-item bg-green" lines="none" (click)="onNotificationClick(n)">
            <ion-avatar slot="start">
              <ion-icon [name]="n.is_read ? 'notifications-outline' : 'notifications'" class="icon-avatar"></ion-icon>
            </ion-avatar>

            <ion-label>
              <div class="label-header">
                <h2 style="color: #000;">{{ n.title || 'Notification' }}</h2>
                <ion-note class="note-top">{{ timeAgo(n.created_at) }}</ion-note>
              </div>
              <p>{{ n.message }}</p>
            </ion-label>
          </ion-item>
        </ng-container>
      </ng-container>

      <ng-template #emptyState>
        <div class="ion-text-center ion-margin-top">
          <p>No notifications to show.</p>
        </div>
      </ng-template>

    </div>
  </div>

</ion-content>