<ion-content [fullscreen]="true">
    <ion-toolbar>
      <div class="welcome_main h_100vh bg_gogreen">
        <div>
          <img src="../../assets/welcome/welcome_ingredients.svg" class="welcome_ingredients" alt="welcome_ingredients" title="welcome_ingredients">
        </div>
        <div class="welcome_second">
          <div class="delivery_man_main">
            <img src="../../assets/welcome/delivery_man.svg" class="delivery_man" alt="delivery_man" title="delivery_man">
          </div>
          <div class="content_welcome">
            <div class="order_in_seconds_main text_center">
              <img src="../../assets/welcome/order_in_seconds.svg" class="order_in_seconds" alt="order_in_seconds" title="order_in_seconds">
            </div>
            <div class="login_welcome d_flex justify_content_center">
                <div class="welcome_form" >
        
                  
                                                         
                  <!-- <ion-item class="phone-input ion-no-padding" lines="none">
                    <ion-select
                      interface="popover"
                      [(ngModel)]="selectedCountryCode"
                      class="country-code-select"
                      placeholder="+1"
                    >
                      <ion-select-option *ngFor="let code of countryCodes" [value]="code">
                        {{ code }}
                      </ion-select-option>
                    </ion-select>

                    <ion-input
                      type="tel"
                      inputmode="numeric"
                      pattern="[0-9]*"
                      [(ngModel)]="phoneNumber"
                      maxlength="10"
                      placeholder="Enter phone number"
                      clearInput="true"
                    ></ion-input>
                  </ion-item> -->
                <div class="phone-input-container">
                    <div class="prefix-box">
                      <ion-select [(ngModel)]="selectedCountryCode" interface="popover">
                        <ion-select-option *ngFor="let code of countryCodes" [value]="code">
                          {{ code }}
                        </ion-select-option>
                      </ion-select>
                    </div>

                    <input
                      type="tel"
                      [(ngModel)]="phoneNumber"
                      class="phone-number-input"
                      placeholder="Enter Phone Number"
                       maxlength="10"
                    /> 

                    <ion-icon
                      *ngIf="phoneNumber"
                      name="close-circle"
                      class="clear-icon"
                      (click)="phoneNumber = ''"
                    ></ion-icon>
                  </div>

                  <button class="welcome_submit" (click)="Login()">Continue</button>
                </div>
            </div>
    
            <div class="welcome_footer">
              <p class="text_grey opensans_semibold text_center">
                By logging in or registering, you agree to our <br>
                <a class="text_gogreen text_dec_none" href="../login">Terms of service</a> and <a class="text_gogreen text_dec_none" href="../login">Privacy policy</a>.
              </p>
            </div>
          </div>

        </div>
      </div>
    </ion-toolbar>
</ion-content>
