<app-common-header></app-common-header>
<ion-content [fullscreen]="true">

  <div class="page_outer_div mb-6rem">
    <app-global-search (searchFocus)="onSearchFocusChange($event)"></app-global-search>
  <div *ngIf="loading">
    <div class="Recomended_vendor_div home_vendor_swiper_slides" *ngFor="let i of [1,2,3]">
      <h4 class="category-heading">
        <ion-skeleton-text animated style="width: 120px; height: 20px;"></ion-skeleton-text>
      </h4>

      <swiper-container class="subcategory-swiper" [slidesPerView]="3" [spaceBetween]="5" nested="true">
        <swiper-slide *ngFor="let j of [1,2,3]" class="home_vendors_box">
          <div class="slide-box">
            <div class="d-flex justify-content-center recomended_slider_div home_recomended_slides_images_box">
              <ion-skeleton-text animated style="width: 100px; height: 100px; border-radius: 8px;"></ion-skeleton-text>
            </div>
            <p class="recommended_store_name">
              <ion-skeleton-text animated style="width: 80px; height: 14px;"></ion-skeleton-text>
            </p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
  <div *ngIf="!loading && !searchKeyword.trim() && !hideCategoryDiv && !hideDiv" class="fade-in">
    <div class="Recomended_vendor_div home_vendor_swiper_slides" *ngFor="let category of categories">
      <h4 class="category-heading">{{ category.name }}</h4>
      <swiper-container class="subcategory-swiper" [slidesPerView]="3" [spaceBetween]="5" nested="true">
        <swiper-slide *ngFor="let sub of category.vendors" class="home_vendors_box">
          <div class="slide-box">
            <swiper-container class="nested-image-swiper" [slidesPerView]="1" [spaceBetween]="0" direction="horizontal" nested="true">
              <swiper-slide *ngFor="let img of sub.featured_images">
                <div class="d-flex justify-content-center recomended_slider_div home_recomended_slides_images_box"
                  (click)="navigateToVendorStore(sub)">
                  <img [src]="img" alt="{{ sub.store_name }}" class="recommended_vendor_store_img" />
                </div>
              </swiper-slide>
            </swiper-container>
            <p class="recommended_store_name">{{ sub.store_name }}</p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
  </div>

</ion-content>
<ion-footer *ngIf="!hideFooter">
  <app-footer-tabs></app-footer-tabs>
</ion-footer>