<ion-content [fullscreen]="true">
<app-common-header
  [headerText]="'Profile'"
  >
</app-common-header>
  <div class="green_header">
    <div class="page_outer_div ">
      <div class="display_flex_only justify_content_center mt-4">
        <div class="profile-image">
          {{ firstName?.charAt(0) | uppercase }}
        </div>
      </div>


    </div>
  </div>
  <div class="page_outer_div  mb-6">
    <div>
      <div class="form_label">First Name</div>
      <input type="text" id="firstname" placeholder="First Name" [(ngModel)]="firstName">

      <div class="form_label">Last Name</div>
      <input type="text" id="lastname" placeholder="Last Name" [(ngModel)]="lastName">

      <div class="form_label">Your Phone Number</div>
      <input type="text" id="phone" placeholder="Phone" [(ngModel)]="phoneNumber" disabled>
      <div *ngIf="phoneError" class="text-danger text-center">{{ phoneError }}</div>

      <div class="form_label">Email ID</div>
      <input type="email" id="email" placeholder="Email" [(ngModel)]="email">
      <div *ngIf="emailError" class="text-danger text-center">{{ emailError }}</div>

      <div class="form_label">Date Of Birth</div>
      <input type="date" id="dob" placeholder="DD/MM/YYYY" [(ngModel)]="dob">
      <div *ngIf="dobError" class="text-danger text-center">{{ dobError }}</div>

      <div class="form_label">Gender</div>
      <select id="gender" [(ngModel)]="gender">
        <option value="" disabled>Select Gender</option>
        <option value="0">Male</option>
        <option value="1">Female</option>
        <option value="2">Other</option>
      </select>
      <div *ngIf="genderError" style="color: red; text-align: center; margin-top: 8px;">
        {{ genderError }}
      </div>
    </div>

    <div>
      <ion-button class="welcome_submit mt_4" expand="block" id="submitBtn" (click)="validateForm()">
        Save
      </ion-button>
    </div>
  </div>



</ion-content>
<app-footer-tabs></app-footer-tabs>