
  <app-common-header></app-common-header>
<ion-content [fullscreen]="true">
  <!-- <div class="green_header">
    <div class="page_outer_div ">
      <div class="display_flex align_items_center">
        <div class="left_arrow_div"> <img src="assets/left_arrow.svg" (click)="goback()"></div>
        <p class="header_heding_p">My Account</p>
        <div class="header_search_img ">
           <img src="assets/common_search_icon.svg" class="search_img">
           <img src="assets/common_bell_icon.svg">
        </div>
      </div>
    </div>
  </div> -->

  
  <div class="page_outer_div bordr_bottom_gray">

   <!-- that div should be here -->
 <div class="account-quick-links">
  <div class="quick-link-row" *ngFor="let row of quickLinkData">
    <div
      class="quick-link-card"
      *ngFor="let item of row"
      (click)="navigateTo(item.route)"
    >
      <ion-icon [name]="item.icon"></ion-icon>
      <span>{{ item.label }}</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
  </div>
</div>

  </div>
  <div class="page_outer_div">
    <div>Account Setting</div>
     <div class="accounts_grid">      
        <div class="12">
          <div class="card-content" (click)="reviewPurchase()">
            <div class="display_flex align_items_center main_icons">
              <ion-icon name="information-circle-outline"></ion-icon>
              <p>Review your purchase</p>
            </div>          
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </div>
      </div> 
     
        <div class="12">
          <div class="card-content" (click)="AllAddress()">
            <div class="display_flex align_items_center main_icons">
              <ion-icon name="notifications-outline"></ion-icon>
              <p>Address</p>
            </div>          
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </div>
      </div> 
     </div>

   
     <div class="accounts_grid">  
       <div class="12">
            <div class="card-content" (click)="bookmarks()">
              <div class="display_flex align_items_center main_icons">
               <ion-icon name="bookmarks-outline"></ion-icon>
                <p>Bookmarks</p>
              </div>          
              <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </div>
        </div> 
        <div class="12">
            <div class="card-content" (click)="FaQs()">
              <div class="display_flex align_items_center main_icons">
                <ion-icon name="help-outline"></ion-icon>
                <p>FAQs</p>
              </div>          
              <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </div>
        </div>
        <div class="12">         
            <div class="card-content" (click)="AboutUS()">              
              <div class="display_flex align_items_center main_icons">
                <ion-icon name="information-circle-outline"></ion-icon>
              <p>About Us</p>
              </div> 
              <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </div>   
        </div>  
        <div class="12">         
          <div class="card-content" (click)="TermsAndUse()">
            <div class="display_flex align_items_center main_icons">
              <ion-icon name="book-outline"></ion-icon>
              <p>Terms Of Use </p>
              </div>     
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </div>   
      </div> 
      <div class="12">         
        <div class="card-content" (click)="privacy()">
          <div class="display_flex align_items_center main_icons">
            <ion-icon name="clipboard-outline"></ion-icon>
            <p>Privacy Policy</p>
          </div>      
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </div>   
    </div> 
    <div class="12">         
      <div class="card-content" (click)="helpCenter()">
        <div class="display_flex align_items_center main_icons">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
          <p>Help Center</p>
        </div>    
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </div>   
  </div>
  <div class="logout" (click)="confirmLogout()">
    <ion-icon name="log-out-outline"></ion-icon>
    <p>Log Out</p>
  </div>
     </div>
  </div>
</ion-content>
<app-footer-tabs></app-footer-tabs>